@page "/admin/product-types"

<PageTitle>K & A Dreamdeals - Product Types</PageTitle>

<h3>Product Types</h3>

<table class="table table-sm mb-4">
    <thead class="table-dark thead-sticky">
        <tr>
            <th>Name</th>
            <th style="width: 7rem;">
                <button class="btn btn-success float-end" @onclick="CreateNewProductType">
                    <i class="oi oi-plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (_productTypeService.ProductTypes == null)
        {
            <tr>
                <td colspan="12">
                    <Loading Style="min-height:calc(100vh - 40rem);" />
                </td>
            </tr>
        }
        else
        {
            @foreach (var productType in _productTypeService.ProductTypes)
            {
                <tr>
                    @if (productType.Editing)
                    {
                        <td>
                            <input type="text" id="Name" value="@productType.Name" @onchange="@((ChangeEventArgs e) => UpdateProductTypeName(e, productType))" class="form-control" />
                        </td>
                        <td class="text-end">
                            <button class="btn @(productType.IsNew ? "btn-success" : "btn-warning")" @onclick="(() => UpdateProductType(productType))">
                                @if (productType.IsNew)
                                {
                                    <i class="fas fa-save"></i>
                                }
                                else
                                {
                                    <i class="oi oi-cloud-upload"></i>
                                }
                            </button>
                            <button class="btn btn-secondary" @onclick="CancelEditing">
                                <i class="oi oi-x"></i>
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            @productType.Name
                        </td>
                        <td class="text-end">
                            <button class="btn btn-info" @onclick="(() => EditProductType(productType))">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-danger" @onclick="(() => DeleteProductType(productType.Id))">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
