@page "/about-us"

<PageTitle>K & A Dreamdeals - About Us</PageTitle>

<h3>Ons verhaal</h3>

<p>
    Hallo en welkom bij K&A Dreamdeals.<br />
    Wij bieden een ruim assortiment van frisdranken aan voor een zeer betaalbare prijs zoals Coca Cola, Fanta, Sprite, enz. (24x33cl)<br />
    Alsook Disney artikelen met officieel label(geen namaak) & parfums van bekende merken.
</p>
