@page "/contact-us"

<PageTitle>K & A Dreamdeals - Contact Us</PageTitle>

<div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
        <h3 class="text-primary">Contacteer ons</h3>

        <div>
            <p>
                Buizemontstraat 90<br />
                9500 Geraardsbergen, Belgique
            </p>
            <p>
                <a href="mailto:info@monsite.be">info@monsite.be</a>
            </p>
            <p>
                Tél : <a href="tel:+32468207514">0468 20 75 14</a>
            </p>
        </div>
    </div>
    <div class="col">
        <ContactEmail />
    </div>
</div>

<div class="row row-cols-1">
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2523.3669798876945!2d3.880874315548409!3d50.76877037225825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3a8bb05527311%3A0xb6d61fafbad6acfe!2sBuizemontstraat%2090%2C%209500%20Geraardsbergen!5e0!3m2!1sfr!2sbe!4v1646677640284!5m2!1sfr!2sbe" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
