@page "/faq"

<PageTitle>K & A Dreamdeals - FAQ</PageTitle>

<h3>FAQ</h3>

<div>
    <h5>Hoe te bestellen?</h5>

    <p>
        Paragraaf. Klik hier om uw eigen tekst toe te voegen. Klik op "Tekst bewerken" of dubbelklik hier om uw inhoud toe te voegen en de lettertypes aan
        te passen. Verplaats me waar je wilt op je pagina. Leg hier uw achtergrond uit en stel uw bedrijf voor aan uw bezoekers.
    </p>

    <h5>Betaling en levering</h5>

    <p>
        Paragraaf. Klik hier om uw eigen tekst toe te voegen. Klik op "Tekst bewerken" of dubbelklik hier om uw inhoud toe te voegen en de lettertypes aan
        te passen. Verplaats me waar je wilt op je pagina. Leg hier uw achtergrond uit en stel uw bedrijf voor aan uw bezoekers.
    </p>

    <h5>Vertrouwelijkheid en wijze van betaling</h5>

    <p>
        Paragraaf. Klik hier om uw eigen tekst toe te voegen. Klik op "Tekst bewerken" of dubbelklik hier om uw inhoud toe te voegen en de lettertypes aan        te passen. Verplaats me waar je wilt op je pagina. Leg hier uw achtergrond uit en stel uw bedrijf voor aan uw bezoekers.
    </p>

    <h5>Omruilingen en terugbetalingen</h5>

    <p>
        Paragraaf. Klik hier om uw eigen tekst toe te voegen. Klik op "Tekst bewerken" of dubbelklik hier om uw inhoud toe te voegen en de lettertypes aan
        te passen. Verplaats me waar je wilt op je pagina. Leg hier uw achtergrond uit en stel uw bedrijf voor aan uw bezoekers.
    </p>
</div>

@code {

}
