@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"

<PageTitle>K & A Dreamdeals</PageTitle>

@if (_productService != null)
{
    <div class="mb-10">
        @if (SearchText == null && CategoryUrl == null)
        {
            <Ads />

            <div>
                <div class="text-center mb-2">
                    <h2 class="mb-0">Treanding Products</h2>
                </div>

                <FeaturedProducts />
            </div>
        }
        else
        {

            <ProductList CategoryUrl="@CategoryUrl" />
        }
    </div>
}
else
{
    <Alert Type="danger" Message="Problem with the Inject function!!!" />
}
