@inject IAuthService AuthService

@if (isAdmin)
{
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/product-types">Product Types</a>
    <a class="dropdown-item" href="admin/products">Products</a>
    <a class="dropdown-item" href="admin/orders">Orders</a>
    <a class="dropdown-item" href="admin/ads">Ads</a>
    <hr />
}

@code {
    bool isAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await AuthService.IsAdminOrNotAsync();
    }
}
