.card {
    overflow: hidden;
    max-height: 20rem;
    min-height: 20rem;
}

.card-image {
    align-self: center;
    max-height: 19rem;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.card-body {
    position: absolute;
    transform: translateY(calc(100% - 3rem));
    transition: .2s ease-in-out;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.card:hover .card-body {
    transform: translateY(0);
}

.card-text {
    max-height: 14rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .btn.cardBtn {
    z-index: 2;
    position: relative;
}

@media (min-width: 1400px) {
    .row-cols-xxl-7 > * {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}
