.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bs-body {
    background-color: var(--bs-body-bg);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
